#slides-container {
    height: 80vh;
    display: inline-flex;
    margin-top: 30px;
    overflow: hidden;
    transform: translateX(0);
    cursor:grab;
}
#carousel {
    overflow: hidden;
    height: 100%;
    width: 100%;
}
h3{ 
    margin-top: 20px;
    text-align: center;
}